.ui.padded.piled.segment
  %div(*ngIf="character")
    .ui.stackable.bottom.aligned.two.column.grid
      .sixteen.wide.column
        .ui.breadcrumb
          %a.section Home
          %i.right.angle.icon.divider/
          %a.section Star Trek: Fate
          %i.right.angle.icon.divider/
      .column
        %h1.ui.header
          {{character?.name}}
          .sub.header
            Played by
            %a([routerLink]="['/Player', {id: character?.player.id}]")> {{character?.player?.name}}
      .column
        .ui.bottom.aligned.center.aligned.grid
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Fate Points
              .value 1
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Refresh
              .value 2
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Skill Cap
              .value +5
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Skill Points
              .value 35

    .ui.section.divider/

    .ui.stackable.two.column.grid
      .column
        %h2.ui.header Aspects
        .ui.list
          .item(*ngFor="#aspect of character?.template.aspectSlots | map:namedAspect")
            .ui.grey.sub.header {{aspect.title}}
            %a.fate-aspect {{aspect.name || 'Missing'}}
        .ui.list
          .item(*ngFor="#aspect of character?.unnamedAspects")
            %a.fate-aspect {{aspect.name}}
      .column
        %h2.ui.header Skills
        %table.ui.very.basic.compact.unstackable.table
          %tbody
            %tr(*ngFor="#entry of character?.skills | indexed | reversed")
              %td.collapsing
                .ui.small.header +{{entry.index}}
              %td
                %a.ui.basic.horizontal.label(*ngFor="#skill of entry.value") {{skill.name}}
      .column
        %h2.ui.header Stress
        .ui.list
          .item(*ngFor="#track of character?.template.stressTrackSlots")
            .ui.grey.sub.header {{character.template.stressTrackNames.get(track.field)}}
            .ui.horizontal.list
              .item(*ngFor="#box of character?.stressTracks.get(track.field) | padded:track.cap:emptyStressBox; #i = index")
                .ui.checkbox
                  %input(type="checkbox" [id]="track.field + i" [(ngModel)]="box.marked" [disabled]="!box.enabled")
                  %label([htmlFor]="track.field + i") {{i + 1}}
        %h2.ui.header Consequences
      .column
        %h2.ui.header Stunts
        .ui.relaxed.list
          .item(*ngFor="#stunt of character?.stunts | sorted:'name'")
            .header {{stunt.name}}
            .description {{stunt.description}}

