.ui.padded.piled.segment([ngClass]="{loading: !character}")
  %div(*ngIf="character")
    .ui.stackable.two.column.grid
      .sixteen.wide.column
        .ui.breadcrumb
          %a.section Home
          %i.right.angle.icon.divider/
          %a.section Star Trek: Fate
          %i.right.angle.icon.divider/
      .column
        %h1.ui.header
          {{character?.name}}
          .sub.header
            Played by
            %a([routerLink]="['/Player', {id: character?.player?.id}]")> {{character?.player?.name}}
      .column
        .ui.center.aligned.grid
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Fate Points
              .value 1
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Refresh
              .value 2
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Skill Cap
              .value +5
          .eight.wide.mobile.four.wide.tablet.four.wide.computer.column
            %a.ui.tiny.statistic
              .label Skill Points
              .value 35

    .ui.section.divider/

    .ui.stackable.two.column.grid
      .column
        %h2.ui.header Aspects
        .ui.list
          .item(*ngFor="#aspectTemplate of character?.template?.namedAspectTemplates")
            .ui.grey.sub.header {{aspectTemplate.name}}
            %a.fate-aspect {{character?.namedAspects?.get(aspectTemplate.field)?.name || 'Missing'}}
        .ui.list
          .item(*ngFor="#aspect of character?.unnamedAspects")
            %a.fate-aspect {{aspect.name}}
      .column
        %h2.ui.header Skills
        %table.ui.very.basic.compact.unstackable.table
          %tbody
            %tr(*ngFor="#entry of character?.skills | indexed | reversed")
              %td.collapsing
                .ui.small.header +{{entry.index}}
              %td
                %a.ui.basic.horizontal.label(*ngFor="#skill of entry.value") {{skill.name}}
      .column
        %h2.ui.header Stress
        .ui.list
          .item(*ngFor="#track of character?.template?.stressTracks")
            .ui.grey.sub.header {{track.name}}
            .ui.horizontal.list
              .item(*ngFor="#box of track.cap | range")
                .ui.checkbox
                  %input(type="checkbox" [id]="track.field + box" [(ngModel)]="stressBoxes(track.field)[box]" [disabled]="stressBoxes(track.field)[box] == undefined")
                  %label([htmlFor]="track.field + box") {{box + 1}}
        %h2.ui.header Consequences
      .column
        %h2.ui.header Stunts

