.ui.very.padded.piled.segment([ngClass]="{loading: !character}")
  .ui.breadcrumb
    %a.section Home
    %i.right.angle.icon.divider\
    %a.section Star Trek: Fate
    %i.right.angle.icon.divider\

  %h1.ui.header
    {{character?.name}}
    .sub.header
      Played by
      %a([routerLink]="['/Home']")> {{character?.player}}

  .ui.clearing.divider

  .ui.stackable.two.column.grid
    .column
      %h2.ui.header Aspects
      .ui.list
        .item(*ngFor="#aspectTemplate of character?.template?.namedAspectTemplates")
          .ui.grey.sub.header {{aspectTemplate.name}}
          %a.fate-aspect {{character?.namedAspects?.get(aspectTemplate.field)?.name || 'Missing'}}
      .ui.list
        .item(*ngFor="#aspect of character?.unnamedAspects")
          %a.fate-aspect {{aspect.name}}
    .column
      %h2.ui.header Skills
      %table.ui.very.basic.compact.table
        %tbody
          %tr(*ngFor="#entry of character?.skills | indexed | reversed")
            %td.collapsing
              %strong +{{entry.index}}
            %td
              %a.ui.basic.horizontal.label(*ngFor="#skill of entry.value") {{skill.name}}

