.ui.very.padded.piled.segment
  %h1.ui.header
    {{character?.name}}
    .sub.header Played by {{character?.player}}

  .ui.divider

  .ui.stackable.two.column.grid
    .column
      %h2.ui.header Aspects
      .ui.list
        .item(*ngFor="#entry of character?.namedAspects | entries")
          .ui.grey.sub.header {{entry.key}}
          %a.fate-aspect {{entry.value.name}}
      .ui.list
        .item(*ngFor="#aspect of character?.unnamedAspects")
          %a.fate-aspect {{aspect.name}}
    .column
      %h2.ui.header Skills
      %table.ui.very.basic.compact.table
        %tbody
          %tr(*ngFor="#entry of character?.skills | indexed | reversed")
            %td.collapsing
              %strong +{{entry.index}}
            %td
              %a.ui.basic.horizontal.label(*ngFor="#skill of entry.value") {{skill.name}}

